<div id="container">
	<div id="task-table">
		<table>
			<tr>
				<th id="lesson">Tiết</th>
				<th id="time" class="day">Thời gian</th>
				<th id="monday" class="day">Thứ 2</th>
				<th id="tuesday" class="day">Thứ 3</th>
				<th id="wednesday" class="day">Thứ 4</th>
				<th id="thursday" class="day">Thứ 5</th>
				<th id="friday" class="day">Thứ 6</th>
				<th id="saturday" class="day">Thứ 7</th>
				<th id="sunday" class="day">Chủ nhật</th>
			</tr>
			<tr>
				<td>1</td>
				<td>07h00' + 07h50'</td>
				{{#hasIndex datum 0}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 1}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 2}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 3}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 4}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 5}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 6}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td>08h00' + 08h50'</td>
				{{#hasIndex datum 7}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 8}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 9}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 10}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 11}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 12}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 13}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
			</tr>
			<tr>
				<td>3</td>
				<td>09h00' + 09h50'</td>
				{{#hasIndex datum 14}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 15}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 16}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 17}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 18}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 19}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 20}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
			</tr>
			<tr>
				<td>4</td>
				<td>10h00' + 10h50'</td>
				{{#hasIndex datum 21}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 22}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 23}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 24}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 25}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 26}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 27}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
			</tr>
			<tr>
				<td>5</td>
				<td>11h00' + 11h50'</td>
				{{#hasIndex datum 28}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 29}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 30}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 31}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 32}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 33}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 34}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
			</tr>
			<tr>
				<td>6</td>
				<td>12h00' + 12h50'</td>
				{{#hasIndex datum 35}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 36}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 37}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 38}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 39}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 40}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 41}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
			</tr>
			<tr>
				<td>7</td>
				<td>13h00' + 13h50'</td>
				{{#hasIndex datum 42}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 43}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 44}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 45}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 46}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 47}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 48}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
			</tr>
			<tr>
				<td>8</td>
				<td>14h00' + 14h50'</td>
				{{#hasIndex datum 49}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 50}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 51}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 52}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 53}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 54}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 55}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
			</tr>
			<tr>
				<td>9</td>
				<td>15h00' + 15h50'</td>
				{{#hasIndex datum 56}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 57}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 58}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 59}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 60}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 61}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 62}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
			</tr>
			<tr>
				<td>10</td>
				<td>16h00' + 16h50'</td>
				{{#hasIndex datum 63}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 64}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 65}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 66}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 67}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 68}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 69}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
			</tr>
			<tr>
				<td>11</td>
				<td>17h00' + 17h50'</td>
				{{#hasIndex datum 70}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 71}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 72}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 73}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 74}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 75}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 76}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
			</tr>
			<tr>
				<td>12</td>
				<td>18h00' + 18h50'</td>
				{{#hasIndex datum 77}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 78}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 79}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 80}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 81}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 82}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 83}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
			</tr>
			<tr>
				<td>13</td>
				<td>19h00' + 19h50'</td>
				{{#hasIndex datum 84}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 85}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 86}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 87}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 88}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 89}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 90}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
			</tr>
			<tr>
				<td>14</td>
				<td>20h00' + 20h50'</td>
				{{#hasIndex datum 91}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 92}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 93}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 94}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 95}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 96}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
				{{#hasIndex datum 97}}
				<td class="task-each" onclick="toggleTask()">{{task}}
				{{else}}
				<td class="task-each" onclick="toggleTask()">
				{{/hasIndex}}
					<ul></ul>
					<img src="times-solid.svg" id="delete-data" onclick="deleteData()" />
				</td>
			</tr>
		</table>
	</div>
	<div id="right-menu">
		<div id="task-container">
			<fieldset id="create-task">
				<legend>Create task:</legend>
				<div id="task-box">
					<input type="text" placeholder="Type any task here" />
					<button id="create-btn">Create</button>
				</div>
				<p id="is-empty"><small>Empty input!</small></p>
				<p id="is-created"><small>Task has already been created!</small></p>
			</fieldset>
		</div>
	</div>
	<div id="footer">
		<fieldset id="custom">
			<legend>Customization:</legend>
			<div class="box-custom">
				<button type="submit" id="save">Save</button>
			</div>
			<div class="box-custom">
				<input type="color" id="preset" />
				<button id="default">Default color</button>
				<button id="reset">Reset all</button>
			</div>
			<div class="box-custom">
				<button id="hide-create">Hide/show create menu</button>
				<button id="down-btn">Save as png</button>
			</div>
		</fieldset>
	</div>
	<div id="left">
		<button id="btn-1">Group 1</button>
		<button id="btn-2">Group 2</button>
	</div>
</div>
<script src="scripts.js"></script>